<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ultimate Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div id="heading">
        <h1 id="header"><a id="headerlink" href="/">Ultimate Shop</a></h1>
        <h1 id="more"><a id="morelink" href="">More >></a> </h1>
    </div>
    <form method="post" action="/search">
        <input type="search" placeholder="Search here" name="searchbar">
        <button type="submit">Search</button>
    </form>
    <div id="headerButtonContainer">
        <a href="/only-available" class="headerButton">ONLY AVAILABLE</a>
        <a href="/cheapest-first" class="headerButton">CHEAPEST FIRST</a>
        <a href="/contains-nike" class="headerButton">CONTAINS NIKE</a>
        <a href="/average-stock" class="headerButton">AVERAGE STOCK</a>
        <a href="/most-expensive" class="headerButton">MOST EXPENSIVE AVAILABLE</a>
    </div>
</header>
<h1 id="avg" th:text="'Average stock: ' + ${avg}"></h1>
</body>
</html>