<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/newpost">Submit new post</a>
<a href="/">main page</a>
<h1>Posts</h1>
<table>
    <tr th:each="post : ${pagedposts}">
        <td th:text="${post.votes}"></td>
        <td><a th:href="'/increment/?id='+${post.id}">+</a></td>
        <td><a th:href="'/decrement/?id='+${post.id}">-</a></td>
        <td><a th:text="${post.title}" th:href="${post.url}"></a></td>
        <td th:text="${post.time}"></td>
    </tr>
</table>
<a th:href="'/page/'+${service.decrementPageCounter()}" th:attr="class=${service.hiddenPreviousButtonClass()}">previous page</a>
<a th:href="'/page/'+${service.incrementPageCounter()}" th:attr="class=${service.hiddenButtonClass()}">next page</a>
</body>
</html>